.addUser{
    background-color: white;
    width: 25%;
    margin: 50px auto;
    padding: 40px;  
    border-radius:10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
.addUser .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUser .inputGroup label {
    margin-top: 5px;
}
.addUser .inputGroup input{
    margin-bottom: 5px;
    padding: 10px; 
}
.addUser h3{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.addUser .inputGroup button{
    margin-top: 10px;
}